Driver/
__pycache__/
out.xlsx
Output/
env.py
requirements.txt
test.py
ThreadsPost.py
TikTokPost.py
WP2xls.py
Xpost.py
Instapost.py
InstaBot.py
Google2xls.py
google.py
geckodriver.log
Facepost.py
config/
env.py
social.py
